@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Persons.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new QRPayer.Default.PersonsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>